/*
Colors used:
Primary Color (Black): #333;
Secondary Color (Gainsboro): #D60A8B;
Secondary Color (GhostWhite): #fbf9f9;
*/
* {
  box-sizing: border-box;
}
header {
  background-color: #fbf9f9;
  padding: 10px 0;
  font-size: 22px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: lowercase;
  font-weight: 700;
  color: #333;
}
nav > ul > li > a:visited {
  color:#333;
}
nav > ul > li > a:hover {
  color:#333;
}
nav > ul > li > a:active {
  color:#333;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  text-align: center;
}
body {
    background-color: #fbf9f9;
    font-family: 'DM Serif Display', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #333;
      }
      
      h1, h2, h3, h4 {
        line-height: 1.4;
      }
      h1 {
        font-size: 2.75em;
        font-weight: 700;
      }
      h2 {
        font-size: 2.25em;
        font-weight: 700;
      }
      h3 {
        font-size: 1.75em;
        font-weight: 400;
      }
      h4 {
        font-size: 1.35em;
        font-weight: 100;
        text-align: center;
      }
img {
    width: 100%;
    padding: 20px;
  }
a {
    color: #333;
    text-decoration: none; /* No underlining */
  }
a.social-media:hover {
  text-decoration: none;
}
a.social-media {
  padding-right: 32px;
}
a:hover {
    color: #333;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
a:visited { /* visited link */
    color: #333;
  }
a:active { /* selected link */
    color: #333;
  }
a:hover,
a:focus {
    color: #333;
    text-decoration: underline;
  }

.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block */
    background-color: transparent;
    color: #D60A8B; /* needed to override the default link color */
    font-weight: 400;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 1px solid #D60A8B; /* width of the border, type, color */
    transition: 0.2s opacity;
  }
.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
.button:active {
    color: #D60A8B;
}

.button.contact {
    background-color: #f8f8ff;
    color: #D60A8B;
    text-transform: uppercase;
    border: 2px solid #D60A8B;
  }
.button.contact:active {
    color: #D60A8B;
}
.button.contact:hover {
    background-color: #D60A8B;
    color: #000000;
  }

.button.read.more {
    background-color: transparent;
    color: #D60A8B;
    text-transform: uppercase;
    border: 2px solid #D60A8B;
  }
.button.read.more:active {
    color: #D60A8B;
}
.button.read.more:hover {
    background-color: #D60A8B;
    color: #000000;
  }

.button.case.study {
    background-color: transparent;
    color: #D60A8B;
    text-transform: uppercase;
    border: 2px solid #D60A8B;
  }
.button.case.study:active {
    color: #D60A8B;
}
.button.case.study:hover {
    background-color: #D60A8B;
    color: #000000;
  }

.button.prototype {
    background-color: transparent;
    color: #D60A8B;
    text-transform: uppercase;
    border: 2px solid #D60A8B;
  }
.button.prototype:active {
    color: #D60A8B;
}
.button.prototype:hover {
    background-color: #D60A8B;
    color: #000000;
  }
.button.CV {
    background-color: transparent;
    color: #D60A8B;
    text-transform: uppercase;
    border: 2px solid #D60A8B;
  }
.button.CV:active {
    color: #D60A8B;
}
.button.CV:hover {
    background-color: #D60A8B;
    color: #000000;
  }
@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
  }
.sun {
    animation: 4s color-change infinite alternate linear;
  }
@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }
.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
  }
@keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }
.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  padding: 25px;
}

.resume {
  padding-top: 35px;
  padding-bottom: 30px;
}

.footer {
  text-align: center;
}

#work .row {
  padding-bottom: 28px;
  border-bottom: 1px solid #324a42;
}

#hero h1 {
  text-align: center; /* Centers text */
}
#hero span {
  display: block;
}
#hero {
  background-color: #fbf9f9;
  color: #D60A8B;
  text-align: center;
  padding: 20px 0;
  padding-bottom: 30px;
  display: block;
  width: 100%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
}

[class*="col-"] {
  float: left;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.social-media svg { 
  max-width: 32px;
}
.navtoggle, .navtoggle.responsive { /* for Javascript use */
  position: relative;
} 
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
.navtoggle li:not(:last-child) {
  display: none;
  position: relative;
}
.navtoggle.responsive li:not(:last-child) {
  display: block;
  position: relative;

}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
.col-5 {width: 41.67%;}
.col-md-6 {width: 50%;}
.col-7 {width: 58.33%;}
nav > ul > li {
  display: inline-block;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
img {
  max-width: 450px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  img {
    max-width: 100%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}